@charset "UTF-8";

body
{
	margin: 0;
	color: #F1F1F1;
	font-family: "Georgia", serif;
	font-size: 100%;
	background-color: #071526;
	background-image: url("../Images/bg.gif");
}

a:link, a:hover, a:active, a:visited
{
	color: #F1F1F1;
}

ul, ol
{
	padding: 0 0 0 2.5em;
	margin: 0;
}

ul
{
	list-style: square inside;
}

ol
{
	list-style: decimal inside;
}

code, pre, var
{
	font-family: "Lucida Console", monospace;
	font-weight: bold;
}

pre, .doc_entry
{
	word-wrap: break-word;
}

fieldset
{
	display: block;
}

dt
{
	margin: 1em 0 1em 0;
}

img
{
	border: 0;
}

legend
{
	border: 0;
	padding: 0;
	/* h3 size */
	font-size: 1.13em;
	font-weight: bold;
	color: #F1F1F1;
}

hr
{
	width: 50%;
	margin: .5em 0;
	text-align: left;
}

hr, .row
{
	clear: both;
}

.row
{
	float: left;
	width: 100%;
}

.nav_row, .doc_row, .fact_list, .file_list, .feature_list
{
	padding: 0;
}

.nav_row, .doc_row
{
	margin: 0;
	list-style: none outside;
}

.nav_row, .footer_row
{
	background-color: #5D7693;
}

.footer_row
{
	margin-top: 1em;
}

.column
{
	width: 100%;
	float: left;
	clear: none;
}

.primary_column
{
	width: 76em;
	clear: both;
}

.secondary_column
{
	width: 23em;
}

.cell
{
	padding: 1em 2em 1em 2em;
	border: 0;
	float: left;
	clear: both;
}

.primary_cell
{
	float: none;
}

.header_cell
{
	width: 337px;
	height: 100px;
	padding: 0 0 0 .5em;
	overflow: hidden;
}

.nav_cell, .footer_cell
{
	clear: right;
}

.nav_cell, .secondary_cell
{
	margin: 0;
}

.nav_cell:hover, .footer_cell:hover
{
	background-color: #071526;
}

.secondary_cell
{
	float: none;
	clear: none;
}

.active
{
	box-shadow: inset 0 -.25em 0 0 #AEBAC8;
}

.fact_list, .file_list, .module_list
{
	list-style: none outside;
}

.module_list li, .feature_list li
{
	margin: 1em 0 0 0;
}

.doc_cell, .doc_list
{
	margin: 0 0 0 2em;
}

.test_list
{
	list-style: square outside;
}

.doc_cell
{
	float: none;
	clear: none;
}

.doc_cell .heading
{
	margin: 0;
}

.doc_art
{
	font-size: 1.25em;
}

.fragment:target
{
	background-color: #5D7693;
}

.warning
{
	font-family: "Courier", monospace;
}

.info
{
	font-style: italic;
}

.prev_link
{
	text-align: left;
}

.index_link
{
	text-align: center;
}

.next_link
{
	text-align: right;
}

.quotation::before, .quotation::after
{
	font-size: 2em;
	vertical-align: sub;
}

.quotation::before
{
	content: "\201C";
}

.quotation::after
{
	content: "\201D";
}

@media screen and (max-width: 40em)
{
	.column, hr
	{
		/* fit within 20em page */
		width: 16em;
	}

	.masthead
	{
		display: none;
	}

	.header_cell
	{
		width: auto;
		height: auto;
	}
}

@media screen and (max-width: 20em)
{
	body
	{
		font-size: .75em;
	}

	.column, hr
	{
		/*
			fit within 15 em (at 16px) page

			remember: 1em = 12px because of
			of the previous declaration
		*/
		width: 13em;
	}

	.header_cell
	{
		/* h1 is 2em */
		width: 6em;
	}

	.doc_cell
	{
		/* 2em left margin */
		width: 11em;
	}

	.doc_list
	{
		/* 2em left margin */
		width: 9em;
	}
}
